.toggle-button#tagButton {

    -fx-background-color: null;
    -fx-effect: null;
    -fx-text-fill: gray;
}

.toggle-button#tagButton:selected {

    -fx-text-fill: black;
}

.toggle-button#ratingButton {

    -fx-background-color: null;
    -fx-effect: null;
    -fx-text-fill: gray;
}

.toggle-button#ratingButton:selected {

    -fx-text-fill: black;
}

.list-cell .practiceList {
    -fx-padding: 0 0 0 25px

}

.list-cell .done {
    -fx-background-image: url('yes.png');
    -fx-background-repeat: stretch;
    -fx-background-position: 5px, center;

}

.list-cell .planned {
    -fx-background-image: null;
    -fx-background-repeat: stretch;
    -fx-background-position: 5px, center;

}

.list-cell .skip {
    -fx-background-image: url('skip.png');
    -fx-background-repeat: stretch;
    -fx-background-position: 5px, center;

}

.progress-indicator {
    -fx-progress-color: #4cb42f
}

.tag {
    -fx-border-radius: 10;
    -fx-padding: 2 5;
    -fx-border-style: solid;
    -fx-border-color: gray;

}

.toggle-button#bpmButton {

    -fx-background-color: null;
    -fx-effect: null;
    -fx-text-fill: gray;
}

.toggle-button#bpmButton:selected {

    -fx-text-fill: black;
}

.toggle-button#playButton {

    -fx-background-color: null;
    -fx-effect: null;
    -fx-background-image: url('play.png');
    -fx-background-repeat: stretch;
    -fx-background-position: center, center;

}

.toggle-button#playButton:selected {

    -fx-background-image: url('pause.png');
}

.button#dayButtonLeft {

    -fx-background-image: url('arrow_left.png');
    -fx-background-color: null;
    -fx-effect: null;
    -fx-background-repeat: stretch;
    -fx-background-position: center, center;
}

.button#dayButtonRight {

    -fx-background-image: url('arrow_right.png');
    -fx-background-color: null;
    -fx-effect: null;
    -fx-background-repeat: stretch;
    -fx-background-position: center, center;
}
